@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Omnivore Integration Service</title>
</head>
<body>
    <h2>Omnivore Integration Service is running</h2>
</body>
</html>